@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital@0;1&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto Condensed", sans-serif;
    font-size: 20px;
}

main {
    display: flex;
    justify-content: space-around;
    padding: 2rem;
}

section{
    width: 25rem;
    height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

footer{
    display: flex;
    justify-content: center;
}

button{
    width: 7rem;
    height: 50px;
    padding: 10px;
    background-color: #0252dc;
    color: #fff;
    border: none;
    border-radius: 5px;
    outline: none;
    cursor: pointer;
    font-size: 0.8rem;
}

.lado_esquerdo{
    justify-content: space-between;
}
.lado_esquerdo > textarea{
    width: 100%;
    height: 50%;
    padding: .5rem 1rem;
    outline: none;
    resize: none;
    border-radius: 10px;
}

.lado_direito{
    justify-content: space-between;
    gap: 15px;
}
.lado_direito > .resultado{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    height: 20rem;
    width: 100%;
    padding: .5rem 1rem;
    border-radius: 10px;
    background-color: #0454a3;
    color: #fff;
}

.lado_direito > .resultado > img{
    width: 10rem;
    height: 50%;
}
.lado_direito > .resultado > h2, .lado_direito > .resultado > span{
    text-align: center;
}

@media screen and (max-width: 820px){
    main{
        flex-direction: column;
        align-items: center;
        gap: 40px;
    }

    img {
        display: none;
    }
    section{
        width: 100%;
        height: 35vh;
    }
}

@media screen and (max-width: 550px){
    *{
        font-size: 16px;
    }

    section{
        height: 40vh;
    }

    .lado_esquerdo > textarea{
        width: 100%;
        height: 70%;
    }
    button{
        width: 100px;
        height: 40px;
        padding: 5px;
    }
}

@media screen and (max-width: 370px){
    button{
        width: 6rem;
    }
}