@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital@0;1&display=swap');

*{
    margin: 0;
    padding: 0;

    font-family: "Roboto Condensed", sans-serif;
    font-size: 20px;
}

main {
    display: flex;
    height: 90vh;
}

section {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
    width: 50%;
    padding: 30px 20px;
}

footer {
    display: flex;
    justify-content: center;
}
footer > p{
    margin-top: 1rem;
}
button {
    width: 10rem;
    height: 50px;

    border: none;
    border-radius: 20px;

    outline: none;
    cursor: pointer;

    background-color: #1e40ff;
    color: #fff;

    font-size: 0.8rem;
}
button:hover{
    background-color: #758aff;
    color: #000;
}

.lado_esquerdo > textarea{
    padding: 1rem;
    margin-top: 2rem;
    height: 200px;

    resize: none;
    outline: none;

    border: 1px solid #000000;
    border-radius: 10px;
}

.lado_esquerdo > div > .sobre {
    background-color: #197951;
}
.lado_esquerdo > div > .sobre:hover{
    background-color: #758aff;
}

.lado_direito{
    align-items: center;
}

.lado_direito > .resultado{
    height: 350px;
    width: 300px;
    
    padding: 1rem 2rem;
    margin-top: 2rem;
    
    border-radius: 10px;
    box-shadow: 3px 3px 2px #919191;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;

    color: #fff;
    background-color: #598596;
}

.lado_direito > .resultado > img{
    width: 300px;
    height: 200px;
}

.lado_direito > .resultado > p{
    text-align: center;
    font-size: 18px;
}



@media screen and (max-width: 800px){
    main{
        flex-direction: column;
        align-items: center;
    }

    section{
        width: 80vw;
        padding: 2px;
        margin: 10px 0;
    }

    footer > p{
        margin-top: 10px;
    }

    button{
        width: 100px;
        height: 40px;

        border-radius: 15px;
    }

    .lado_esquerdo{
        display: flex;
        align-items: center;
    }
    .lado_esquerdo > textarea{
        margin: 1rem 0;
    }

    .lado_esquerdo > div{
        display: flex;
        justify-content: center;
        gap: 10px;
    }

    .lado_direito > .resultado{
        width: 24rem;
        height: 100px;
        
        margin-top: 0;
        margin-bottom: 1rem;

        align-content: center;
    }

    .lado_direito > .resultado > img{
        display: none;
    }
}

@media screen and (max-width: 420px){
    *{
        border: 1px solid red;
    }
    
    main{
        flex-direction: column;
        align-items: center;
        width: auto;
        height: auto;
        margin-bottom: 5rem;
    }

    section{
        width: 15rem;
    }

    button{
        width: 5rem;
        font-size: 12px;
    }

    .lado_esquerdo > textarea{
        width: 10rem;
    }
    .lado_direito > .resultado{
        width: 10rem;
    }

    .lado_direito > .resultado h4{
        font-size: 16px;
        text-align: center;
    }
    
    .lado_direito > .resultado p{
        font-size: 12px;
    }
}